.accept-section {
    margin-top: 203px;
}

.accept-main {
    display: flex;
    padding: 0 54px 0;
    height: 490px;
    justify-content: space-between;

    background: url("./img/ufos/ufo_accept.png") no-repeat center;

    font-family: 'Krub', sans-serif;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
}

.accept-side-text {
    font-size: 17px;
    align-self: flex-start;
    writing-mode: vertical-lr;
}

.accept-side-text span {
    margin-top: 21px;
}

.accept-main-text {
    padding-top: 117px;
    text-align: center;
    font-size: 84px;
    letter-spacing: 6px;
    line-height: 1.191;
}

.accept-main-text :first-child {
    font-weight: 300;
}

/* Accept section footer */
.accept-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 24px 56px 0;
    justify-items: center;
}

.accept-footer img {
    padding-top: 14px;
}

.accept-footer span {
    font: 700 50px 'Krub', sans-serif;
    color: rgb(37, 37, 37);
    text-transform: uppercase;
    letter-spacing: 3px;
}

.accept-footer :first-child {
    justify-self: flex-start;
}

.accept-footer :last-child {
    justify-self: flex-end;
}