.LastPage{
    box-sizing: border-box;
    background-color: #8c6eca;
    display:flex;
    height: 743px;
    align-items: center;
    padding: 25px 57px 0 61px;
    justify-content: space-between;
}
.SecondWWD{
    margin-left: 9px;
}
.AboutUS{
    display:flex;
    flex-direction: column;
}

.Messengers>p>span{
    font-weight: 100;
    text-decoration: underline;
}
.Messengers{
    box-sizing: border-box;
    padding-top: 32px;
    font-family: 'Krub', sans-serif;
    color :white;
    padding-left: 167px;
    display: block;
    text-align: right;
    font-weight: 900;
    letter-spacing: 1px;
}
.AU{
    text-align: left;
    margin-bottom:13px;
}
.Info{
    color:white;
    font-family: 'Krub', sans-serif;
    font-weight: 500;
    text-decoration: none;
    font-size:24px ;
    letter-spacing: 2px;

}
.btn1{
    height: 49px;
    width:116px;
    text-align: left;
    border-bottom: 2px solid white;
    margin-bottom: 28px;
}
.btn2{
    height: 49px;
    width:209px;
    text-align: left;
    border-bottom: 2px solid white;
    margin-bottom: 29px;
}

.button1{
    color:white;
    font-family: 'Krub', sans-serif;
    font-weight: 700;
    font-size:33px;
    letter-spacing: 2px;
    text-decoration: none;
}
span.bast{
   letter-spacing: 5px;
}

.LastPageInput{
    margin-top: 53px;
    width:494px;
    height:58px;
    background-color:transparent;
    border: 2.4px solid White;
}

.News{
    font-size: 32px;
    font-family: 'Krub', sans-serif;
    font-weight: 700;
    text-align:right;
    line-height: 1.5;

}
.par{
    font-size: 23px;
    font-family: 'Krub', sans-serif;
    font-weight: 400;
    margin-right:-19px ;
    margin-top:24px;
}
.Messengers>div {
    margin-top:47px;
    display: flex;
    justify-content:flex-end;
}

.face{
    margin-top: 20px ;
    height: 23px;
    width:10px;
}
.Inst{
    margin-top:19px;
    height: 23px;
    width:23px;
}
.You{
    margin-top:23px;
    height: 19px;
    width:28px;
}

.Messengers>div>div{
    height: 63px;
    width:63px;
    display: inline-block;
    background-color: white;
    margin: 13px 0px 0 69px;
    text-align: center;
    border-radius: 50%;
    color:white;
}
.LastPage>section>div>div span{
    letter-spacing: -1px;
}